body {
  background-color:pink;
}
  h1 {
  color: white;
  text-align: center;
}
p {
  font-family:cyan;
  font-size: 20px;
  color:black;
}
row {
  padding: "10px";
  margin: "10px";
}
img {
  width: 75px;
  height: 75px;
}
